
#blog-header {
	background: $front-middle-header-bgcolor;
	#blog-middle-header {
		display: flex;
		justify-content: center;
		background-color: $front-middle-header-bgcolor;

		nav {
			padding: 1rem;
			font-size: 1.8rem;
			flex: 1;

			.nav-ul {
				display: flex;
				justify-content: space-around;

				.nav-list {
					list-style: none;
					margin: 1.8rem 1rem;

					.nav-link {
						color: $front-middle-header-color;
						text-decoration: none;
						border-bottom: 0.2rem solid transparent;
						padding-bottom: 2.6rem;
						transition: all 0.6s linear;

						&:hover {
							border-bottom: 0.2rem solid $front-middle-header-color;
						}
					}
				}
			}
		}

		#logo {
			text-align: center;

			.logo-img {
				width: 8rem;
			}
		}
	}

	#blog-bottom-header {
		display: flex;
		justify-content: center;
		padding: 8rem 0rem;
		text-align: center;
		background: linear-gradient($linear-gradient-color, $linear-gradient-color),
			url("https://source.unsplash.com/daily") center center/cover no-repeat;

		div {
			color: $front-middle-header-color;
			position: relative;
			top: 50%;
			transform: translateY(-20%);

			h1 {
				font-size: 6rem;
				font-weight: 300;
				margin-bottom: 1rem;
			}

			p {
				font-size: 2.4rem;
			}
		}
	}

	#blog-header-small {
		display: none;
	}

	#blog-header-nav-small {
		display: none;
	}

	#arrow-down {
		position: relative;
		text-align: center;

		a {
			color: #ffffff;
			font-weight: 300;
		}
	}
}

#blog-posts {
	display: flex;
	justify-content: space-around;
	padding: 2rem 0rem;
	// border: 1px solid #333;
	background: linear-gradient(to right, #eae2cf, #d6d1bf);

	.container {
		display: flex;
		justify-content: space-between;
		flex-basis: 150rem;
		// border: 1px solid #333;

		#main-blog-side {
			// border: 1px solid red;
			flex-grow: 6;
			padding: 2rem;

			#date-info {
				border: 1px solid linear-gradient(to left, $lgc-box-left, $lgc-box-right);
				margin: -7rem 2.5rem 0;
				font-size: 1.2rem;
				background:linear-gradient(to left, $lgc-box-left, $lgc-box-right);
				color: #fff;
				width: 30vw;
				display: flex;

				div {
					a {
						display: inline-block;
						padding: 2rem 1rem;
						background: dodgerblue;
						text-decoration: none;
						color: #fff;
					}
					p {
						padding: 2rem 1rem;
					}
				}
			}

			h2 {
				font-size: 5rem;
				font-weight: 300;
				margin-bottom: 1rem;
				padding: 2rem 2.4rem;
			}

			nav {
				font-size: 1.6rem;

				.nav-ul {
					display: flex;
					flex-direction: column;

					.nav-list {
						list-style: none;
						color: #333;
						margin: 0.5rem 0rem;
						display: flex;
						flex-direction: column;
						// background-color: #ffffff;
						border-bottom: 0.1rem solid #ddd;

						&:last-child {
							border-bottom: 0rem;
						}

						.nav-list-div-one {
							display: flex;
							padding: 1rem 0rem;

							.nav-list-div-one-one {
								a {
									color: #ffffff;
									text-decoration: none;

									img {
										width: 25rem;
										height: 15rem;
										padding: 2rem;
									}
								}
							}

							.nav-list-div-one-two {
								.nav-link {
									text-decoration: none;

									h3 {
										margin: 0rem 2.4rem;
										color: #333;
										font-size: 3.4rem;
										font-weight: 100;
									}
								}

								p {
									margin: 1rem 2.4rem;
									text-align: justify;
								}
							}
						}

						.nav-list-div-two {
							display: flex;
							justify-content: flex-start;
							margin: -1rem 27.4rem 2rem;
							.btn-article {
								border: 1px solid #333333;
								background: linear-gradient(to left, $lgc-box-left, $lgc-box-right);
								color: #ffffff;
								font-size: 1.8rem;
								padding: 1rem 4rem;
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		#sidebar-blog-side {
			// border: 1px solid red;
			// background: #d6d1bf;
			flex-grow: 6;
			padding: 4rem 20rem 1rem 1rem;

			h2 {
				font-size: 4rem;
				font-weight: 300;
				margin-bottom: 1rem;
				padding: 0 0.8rem;
			}

			.nav-ul {
				.nav-list {
					list-style-type: none;
					.nav-link {
						display: inline-block;
						text-decoration: none;
						font-size: 2rem;
						color: $front-middle-header-bgcolor;
						width: 232%;
						padding: 1rem;
						transition: background 0.3s, color 0.2s;
						&:hover {
							background: $front-top-header-bg-color;
							color: #f8ecc2;
						}
					}
				}
			}
		}
	}
}

// #blog-footer {
// 	background: $front-top-header-bg-color;
// 	color: #ffffff;
// 	font-size: 2rem;
// 	padding: 2rem;
// 	display: flex;
// 	justify-content: space-evenly;
// 	align-items: center;

// 	.container {
// 		p {
// 			margin-left: 1rem;
// 			text-align: center;
// 		}

// 		.social-icons {
// 			margin-top: 2rem;

// 			a {
// 				color: $front-top-header-color;
// 				text-decoration: none;
// 				padding: 0.4rem 1rem;
// 				transition: color 0.4s;

// 				&:first-child {
// 					margin-left: 1rem;
// 				}

// 				&:last-child {
// 					margin-right: 1rem;
// 				}

// 				&:hover {
// 					color: #ffffff;
// 				}
// 			}
// 		}
// 	}

// 	.nav-ul {
// 		display: flex;
// 		flex-direction: column;

// 		.nav-list {
// 			list-style-type: none;
// 			margin-bottom: 0.4rem;

// 			.nav-link {
// 				color: $front-top-header-color;
// 				text-decoration: none;
// 				transition: all 0.4s;

// 				&:hover {
// 					color: #ffffff;
// 				}
// 			}
// 		}
// 	}
// }

@media all and (max-width: 500px) {
	#blog-header {
		#blog-top-header {
			display: none;
		}

		#blog-middle-header {
			display: none;
		}

		#blog-header-nav-small {
			background-color: $front-middle-header-bgcolor;

			.nav-ul {
				display: block;
				margin-left: 1rem;
				padding: 1rem;

				.nav-list {
					list-style: none;
					margin-bottom: 0.5rem;
					font-size: 1rem;
					.nav-link {
						color: $front-middle-header-color;
						text-decoration: none;
					}
				}
			}
		}

		#blog-header-small {
			display: block;
			background-color: $front-middle-header-bgcolor;

			nav {
				display: flex;

				a {
					flex: 1;
					margin-left: 1rem;
					padding: 1rem;

					.logo-img {
						width: 6rem;
					}
				}

				.btn-nav {
					background: $front-middle-header-bgcolor;
					border: 0rem;
					color: $front-middle-header-color;
					cursor: pointer;
					margin-right: 1.2rem;
					font-size: 1.6rem;
				}
			}
		}

		#blog-bottom-header {
			padding: 4rem 0rem;

			div {
				color: $front-middle-header-color;

				h1 {
					font-size: 3rem;
					font-weight: 400;
					margin-bottom: 1rem;
				}

				p {
					font-size: 1.4rem;
				}
			}
		}
	}

	#blog-posts {
		display: block;
		// width: 100vw;
		// border: 1px solid red;
		.container {
			display: block;
			// border: 1px solid green;
			// justify-content: space-between;
			// flex-basis: 150rem;
			// border: 1px solid #333;

			#main-blog-side {
				// border: 1px solid coral;
				// border: 1px solid red;
				// flex-grow: 6;
				padding: 2rem;

				#date-info {
					border: 1px solid linear-gradient(to left, $lgc-box-left, $lgc-box-right);
					margin: -7rem 2.5rem 0;
					font-size: 1rem;
					background:linear-gradient(to left, $lgc-box-left, $lgc-box-right);
					color: #fff;
					width: 76vw;
					display: flex;

					div {
						a {
							display: none;
						}
						p {
							padding: 2rem 1rem;
						}
					}
				}

				h2 {
					// border: 1px solid blue;
					font-size: 3rem;
					font-weight: 300;
					margin-bottom: 1rem;
					// padding: 2rem 2.4rem;
					text-align: left;
				}

				nav {
					font-size: 1.6rem;
					// border: 1px solid dodgerblue;
					padding: 1rem;

					.nav-ul {
						display: block;
						// flex-direction: column;
						// border: 1px solid yellow;

						.nav-list {
							// border: 1px solid indianred;
							list-style: none;
							color: #333;
							margin: 0.5rem 0rem;
							display: block;
							// flex-direction: column;
							// background-color: #ffffff;
							border-bottom: 0.1rem solid #aaa;

							&:last-child {
								border-bottom: 0rem;
							}

							.nav-list-div-one {
								display: block;
								padding: 1rem 0rem;

								.nav-list-div-one-one {
									a {
										color: #ffffff;
										text-decoration: none;
										display: block;
										text-align: center;
										img {
											width: 30rem;
											height: 10rem;
											padding: 2rem;
											// border: 1px solid darkblue;
										}
									}
								}

								.nav-list-div-one-two {
									.nav-link {
										text-decoration: none;

										h3 {
											// border: 1px solid dodgerblue;
											margin: 0rem 1.2rem;
											color: #333;
											font-size: 2.4rem;
											font-weight: 100;
										}
									}

									p {
										margin: 1rem 1.2rem;
										text-align: justify;
										font-size: 1.4rem;
									}
								}
							}

							.nav-list-div-two {
								// border: 1px solid fuchsia;
								display: block;
								padding: 1rem;
								// margin: 0;
								// justify-content: flex-start;
								margin: 0 0 1.4rem 0;
								text-align: left;
								.btn-article {
									border: 1px solid #333333;
									background: linear-gradient(to left, $lgc-box-left, $lgc-box-right);
									color: #ffffff;
									font-size: 1.4rem;
									padding: 0.75rem 2rem;
									text-decoration: none;
									margin-left: 0.2rem;
								}
							}
						}
					}
				}
			}
			#sidebar-blog-side {
				display: none;
			}
		}
	}
}

@media all and (min-width: 501px) and (max-width: 1191px) {
	#blog-header {
		#blog-top-header {
			display: none;
		}

		#blog-middle-header {
			display: none;
		}

		#blog-header-nav-small {
			background-color: $front-middle-header-bgcolor;

			.nav-ul {
				display: block;
				margin-left: 1rem;
				padding: 1rem;

				.nav-list {
					list-style: none;
					margin-bottom: 0.5rem;
					font-size: 1rem;

					.nav-link {
						color: $front-middle-header-color;
						text-decoration: none;
						font-size: 1.4rem;
					}
				}
			}
		}

		#blog-header-small {
			display: block;
			background-color: $front-middle-header-bgcolor;

			nav {
				display: flex;

				a {
					flex: 1;
					margin-left: 1rem;
					padding: 1rem;

					.logo-img {
						width: 8rem;
					}
				}

				.btn-nav {
					background: $front-middle-header-bgcolor;
					border: 0rem;
					color: $front-middle-header-color;
					cursor: pointer;
					margin-right: 2rem;
					font-size: 2rem;
				}
			}
		}

		#blog-bottom-header {
			padding: 6rem 0rem;

			div {
				color: $front-middle-header-color;

				h1 {
					font-size: 3.5rem;
					font-weight: 400;
					margin-bottom: 1rem;
				}

				p {
					font-size: 1.8rem;
				}
			}
		}
	}

	#blog-posts {
		display: block;
		// width: 100vw;
		// border: 1px solid red;
		.container {
			display: block;
			// border: 1px solid green;
			// justify-content: space-between;
			// flex-basis: 150rem;
			// border: 1px solid #333;

			#main-blog-side {
				// border: 1px solid coral;
				// border: 1px solid red;
				// flex-grow: 6;
				padding: 2rem;

				#date-info {
					border: 1px solid linear-gradient(to left, $lgc-box-left, $lgc-box-right);
					margin: -7rem 2.5rem 0;
					font-size: 1.2rem;
					background:linear-gradient(to left, $lgc-box-left, $lgc-box-right);
					color: #fff;
					width: 93.5%;
					display: flex;

					div {
						a {
							display: inline-block;
							padding: 2rem 1rem;
							background: dodgerblue;
							text-decoration: none;
							color: #fff;
						}
						p {
							padding: 2rem 1rem;
						}
					}
				}

				h2 {
					// border: 1px solid blue;
					font-size: 3rem;
					font-weight: 300;
					margin-bottom: 1rem;
					// padding: 2rem 2.4rem;
					text-align: left;
				}

				nav {
					font-size: 1.6rem;
					// border: 1px solid dodgerblue;
					padding: 1rem;

					.nav-ul {
						display: block;
						// flex-direction: column;
						// border: 1px solid yellow;

						.nav-list {
							// border: 1px solid indianred;
							list-style: none;
							color: #333;
							margin: 0.5rem 0rem;
							display: block;
							// flex-direction: column;
							// background-color: #ffffff;
							border-bottom: 0.1rem solid #aaa;

							&:last-child {
								border-bottom: 0rem;
							}

							.nav-list-div-one {
								display: block;
								padding: 1rem 0rem;

								.nav-list-div-one-one {
									a {
										color: #ffffff;
										text-decoration: none;
										display: block;
										text-align: center;
										img {
											width: 30rem;
											height: 10rem;
											padding: 2rem;
											// border: 1px solid darkblue;
										}
									}
								}

								.nav-list-div-one-two {
									.nav-link {
										text-decoration: none;

										h3 {
											// border: 1px solid dodgerblue;
											margin: 0rem 1.2rem;
											color: #333;
											font-size: 2.4rem;
											font-weight: 100;
										}
									}

									p {
										margin: 1rem 1.2rem;
										text-align: justify;
										font-size: 1.4rem;
									}
								}
							}

							.nav-list-div-two {
								// border: 1px solid fuchsia;
								display: block;
								padding: 1rem;
								// margin: 0;
								// justify-content: flex-start;
								margin: 0 0 1.4rem 0;
								text-align: left;
								.btn-article {
									border: 1px solid #333333;
									background: linear-gradient(to left, $lgc-box-left, $lgc-box-right);
									color: #ffffff;
									font-size: 1.4rem;
									padding: 0.75rem 2rem;
									text-decoration: none;
									margin-left: 0.2rem;
								}
							}
						}
					}
				}
			}
			#sidebar-blog-side {
				display: none;
			}
		}
	}
}

@media all and (min-width: 1192px) and (max-width: 1366px) {
	#blog-header {
		#blog-middle-header {
			nav {
				font-size: 1.5rem;
			}
		}
	}

	#blog-posts {
		padding: 2rem 8rem;

		.container {

			#main-blog-side {

				h2 {
					font-size: 4rem;
				}

				nav {
				font-size: 1.4rem;

				.nav-ul {

					.nav-list {
						.nav-list-div-one {

							.nav-list-div-one-one {
								a {

									img {
										width: 20rem;
										height: 10rem;
										padding: 2rem;
									}
								}
							}

							.nav-list-div-one-two {
								.nav-link {

									h3 {
										font-size: 3rem;
									}
								}
							}
						}

						.nav-list-div-two {
							margin: -1rem 22.5rem 2rem;
							.btn-article {
								font-size: 1.5rem;
								padding: 0.75rem 2rem;
							}
						}
					}
				}}
			}

			#sidebar-blog-side {

				h2 {
					font-size: 3rem;
				}

				.nav-ul {
					.nav-list {
						.nav-link {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}


@media all and (min-width: 1366px) and (max-width: 1600px) {
	#blog-header {
		#blog-middle-header {
			nav {
				font-size: 1.6rem;
			}
		}
	}

	#blog-posts {
		padding: 2rem 8rem;

		.container {

			#main-blog-side {

				h2 {
					font-size: 4rem;
				}

				nav {
				font-size: 1.5rem;

				.nav-ul {

					.nav-list {
						.nav-list-div-one {

							.nav-list-div-one-one {
								a {

									img {
										width: 20rem;
										height: 10rem;
										padding: 2rem;
									}
								}
							}

							.nav-list-div-one-two {
								.nav-link {

									h3 {
										font-size: 3.2rem;
									}
								}
							}
						}

						.nav-list-div-two {
							margin: -1rem 22.5rem 2rem;
							.btn-article {
								font-size: 1.6rem;
								padding: 0.75rem 2rem;
							}
						}
					}
				}}
			}

			#sidebar-blog-side {

				h2 {
					font-size: 3rem;
				}

				.nav-ul {
					.nav-list {
						.nav-link {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
