* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	background: linear-gradient($linear-gradient-color, $linear-gradient-color),
		url("https://source.unsplash.com/daily") center center/cover no-repeat;
	font-size: 62.5%;
}
